@font-face {
    font-family: FontOne;
    src: url(./font/Font.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FontOne;
    font-weight: 400;
}
html , body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    min-height: 100vh;
}

nav{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    padding: 0vw 3vw;
    mix-blend-mode: difference;
    z-index: 9999;
    background-color: aquamarine;
}

.lft-nav{
    font-size: 1.5vw;
    height: 6vh;
    overflow: hidden;
    cursor: pointer;
}

.lft-nav h1{
    color: #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.lft-nav:hover #logo{
    margin-top: -5.5vh;
}

.rght-nav{
    font-size: 0.8vw;
    height: 3vh;
    overflow: hidden;
    cursor: pointer;
}


.rght-nav h2{
    color: #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.rght-nav:hover #nav-contact{
    margin-top: -3vh;
}
