@font-face {
    font-family: FontOne;
    src: url(./font/Font.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FontOne;
    font-weight: 400;
}
html , body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    min-height: 100vh;
}

nav{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    padding: 0vw 3vw;
    mix-blend-mode: difference;
    z-index: 9999;
  
}

.lft-nav{
    font-size: 1.5vw;
    height: 6vh;
    overflow: hidden;
    cursor: pointer;
}

.lft-nav h1{
    color: #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.lft-nav:hover #logo{
    margin-top: -5.5vh;
}

.rght-nav{
    font-size: 0.8vw;
    height: 3vh;
    overflow: hidden;
    cursor: pointer;
}


.rght-nav h2{
    color: #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.rght-nav:hover #nav-contact{
    margin-top: -3vh;
}


.part-1{

    width:100%;
    height:100vh;
    background-color: #000;
}


.content-part-1{

    width: 100%;
    height: 100vh;
    background-color: rebeccapurple;
}


.rotate-div{
   display: flex;
   align-items: start;
   justify-content: center;
    width: 200vw;
    height: 200vh;
    background-color: #000;
    gap:3vw;
  
}


.row-div{
   background-color: aliceblue;
    width: calc(200vw/5);
    height: 100%;
     display: flex;
    flex-direction: column;
    gap: 3vh;
}

.img-div{
    width: 100%;
    height: calc(100%/4);
    border-radius: 10px;
    overflow: hidden;
}

.img-div img{
    width: 100%;
}

