@font-face {
    font-family: FontOne;
    src: url(./font/Font.ttf);
}

*{

    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{

    font-family:FontOne;
    font-weight: 400;
    width:100%;
    height: 100%;
}

.main{
   width:100%;
   height: 100vh;

}

nav{
    position: fixed;
    top:0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:15vh;
 
    width: 100%;
    padding:0vw 3vw;
       mix-blend-mode: difference;
       z-index: 999;
}

.logo{

     font-size: 1.5vw;
    height: 6vh;
    cursor: pointer;
    overflow: hidden;
}

.logo h2{
    color: #fff;
        transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
   
}

.logo:hover #lmain{

    margin-top:-5.5vh;
}

.logo-new{

     font-size: 0.8vw;
    height: 3vh;
      cursor: pointer;

         overflow: hidden;
}

.logo-new h2{

    color:#fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
  
}

.logo-new:hover #lnew{
   
    margin-top: -2vw;
}

.part1{
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Keep overflow hidden */
}

.main_content_area{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: visible; /* Allow content to overflow */
}

.rotating_area{
    display:flex;
    justify-content: center;
    align-items: start;
    width: 200vw;
    height: 200vh;
    gap:3vw;
    background-color: black;
    transform-origin: center; /* Ensure rotation happens from center */
    scale:1;
}

.box1{
    width: calc(200vw/5);
  
    height: 200vh;
    display: flex;
    flex-direction: column;
    gap:3vh;
    overflow: hidden;
}

.image_container{
    width: 100%;
    height: calc(200vh/4);
}

.image_container img{
    border-radius: 4px;
    height: calc(200vh/4);
    object-fit: cover;
   
}

.column-2{
    margin-top: 13%;
}
.column-3{
    margin-top: 10%;
}
.column-4{
    margin-top: 8%;
}
.column-5{
    margin-top: 5%;
}

